
<!doctype html>
<html>
<head>
</head>
<body>
  <ngb-carousel  class="myclass">
    <ng-template ngbSlide class="c">
      <div class="picsum-img-wrapper">
        <img src="/../../assets/images/slid1.jpg" alt="Random first slide" style="width: 100%;background-size: cover;height: 990px;background-position: center center;background-repeat: no-repeat">
      </div>
      <div class="carousel-caption">
        <h2 style="color: black;">Third slide label</h2>
        <p style="color: black;"><strong>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</strong></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/../../assets/images/slide2.jpg" alt="Random second slide" style="width: 100%;background-size: cover;height: 990px;background-position: center center;background-repeat: no-repeat"  >
      </div>
      <div class="carousel-caption">
        <h2 style="color: black;">Third slide label</h2>
        <p style="color: black;"><strong>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</strong></p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="/../../assets/images/slide4.jpg" alt="Random second slide" style="width: 100%;background-size: cover;height: 990px;background-position: center center;background-repeat: no-repeat" >
      </div>
      <div class="carousel-caption">
        <h2 style="color: black;">Third slide label</h2>
        <p style="color: black;"><strong>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</strong></p>
      </div>
    </ng-template>
  </ngb-carousel>
  
  
    <app-navbar></app-navbar>  
    <app-footer></app-footer>
    <!-- <div class="container">  
        <div class="centered1 text-center">
            <h3 >IURC : INSTITUT UNIVERSITAIRE DE RÉADAPTATION ghhghghghghghg</h3>
        </div>
        <div class="centered2">
            <button mat-button  class="btn btn-primary" [routerLink]="'/login'">  S'authentifier</button>
        </div>     
</div> -->
<script>
  $('.ngb-carousel').carousel({
  interval: 6000,
  pause: "false"
});
  </script>

</body>
</html>