nav{
  opacity: 0.8;
}


a{
  //background-color: #ddd;
  border: none;
  color: #4f6ea2; 
  padding: 10px 15px;
  text-align: center;
  //font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;

 
}

a:hover {
  color: #020c12;

  border-radius: 5px;

  

 
}

  