<h1 mat-dialog-title> Ajouter/Modifier Filière</h1>

<div mat-dialog-content>
   <form [formGroup]="filiereForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom de la Filière</mat-label>
      <input formControlName="name" matInput placeholder="Nom">
    </mat-form-field>
  

   </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" (click)="onNoClick()">Fermer</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addFiliere()">{{actionBtn}}</button>
</div>
