mat-card{
    opacity: 0.85;
}
.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    //background-image: url("../../../assets/images/Group of doctors standing at hospital building.jpg");
 
  }
//   @supports (display: flex) {
//    @media screen and (min-width: 900px) {
//       .main-div {
//        display: flex;
//        height: 100vh;
//        display: flex;
//        justify-content: center;
//        align-items: center;
//      }
//    }
//  }
  .test{
     color: blue;
  }
  mat-card:not([class*=mat-elevation-z]) {
    box-shadow:rgb(172, 154, 232) inset;
 
 }
 body{
    background-image: url("../../../assets/images/o.jpg");
    background-position: center center;
   background-size: cover;
   width: 100%;
 }
 mat-card{
     width: 38vh;
 }