mat-form-field {
    width: 100% ;
}
.form {
    display:flex;
    flex-direction:row;
 }
 .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
  }


  showToaster{
   position: fixed;
   top: auto!important;
   bottom: 0!important;
   right: 0!important;
   left: auto!important;
   margin: 0.5em
   }
