<h1 mat-dialog-title> Ajouter Reservarion</h1>

<div mat-dialog-content>
  <form [formGroup]="reservationForm">
    <mat-form-field appearance="outline">
      <mat-label>Date Debut</mat-label>
      <input [matDatepicker]="pickerD" formControlName="dateDebut" matInput placeholder="date Debut">
      <mat-datepicker-toggle matSuffix [for]="pickerD"></mat-datepicker-toggle>
      <mat-datepicker #pickerD></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date Fin</mat-label>
      <input [matDatepicker]="pickerF" formControlName="dateFin" matInput placeholder="date Fin">
      <mat-datepicker-toggle matSuffix [for]="pickerF"></mat-datepicker-toggle>
      <mat-datepicker #pickerF></mat-datepicker>
    </mat-form-field>
    <div class="form">
      <mat-form-field appearance="outline">
        <mat-label>Patient</mat-label>
        <mat-select formControlName="patient" placeholder="patient">
          <mat-option *ngFor="let patient of patients" [value]="patient.id">
            {{ patient.nom }} {{patient.prenom}}
          </mat-option>
        </mat-select>
      </mat-form-field>  
      <div class="example-flex-container">
        <button mat-mini-fab color="accent"  (click)="openDialogg()"><mat-icon>add</mat-icon></button>
      </div>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Filiers</mat-label>
      <mat-select formControlName="filier" [(ngModel)]="selectedFilier" placeholder="filier" (selectionChange)="onFilierSelected()">
        <mat-option *ngFor="let fil of filiers" [value]="fil['id']">
          {{ fil['name'] }}
        </mat-option>
      </mat-select>
    </mat-form-field> 
    
   <mat-form-field appearance="outline">
      <mat-label>UF</mat-label>
      <mat-select formControlName="uf" [(ngModel)]="selectedUf" placeholder="uf" [disabled]="!filierSelected">
        <mat-option *ngFor="let uf of ufs" [value]="uf.id">
          {{ uf.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" (click)="onNoClick()">Fermer</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addReservation()">{{actionBtn}}</button>
</div>