table {
    width: 100%;
    table-layout: fixed;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
   
   
  }
  h1{
   color: #343f4d;
    //font-family: "Trebuchet MS", Verdana, sans-serif;
    text-transform: capitalize;
    font-size: 30px;
}
  /*td, th {
    width: 25%;
  }*/
  .container{
      max-width: 1200px;
      margin: 0 auto;
  }
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  .mat-success {
    background-color: rgb(204, 197, 197);
    color: #000;
  }
 th{
    font-size:100%;
    text-align: center;
    background-color: #bdd7e2;
  }
  td{
    font-size:100%;
  
  }
