<h1 mat-dialog-title> Ajouter Site</h1>

<div mat-dialog-content>
   <form [formGroup]="siteForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom de la site</mat-label>
      <input formControlName="name" matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Adresse de la site</mat-label>
      <input formControlName="address" matInput placeholder="Adresse">
    </mat-form-field>

   </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" (click)="onNoClick()">Fermer</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="addSite()">{{actionBtn}}</button>
</div>