table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {
  width: 25%;
}*/
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.mat-success {
  background-color: rgb(204, 197, 197);
  color: #000;
}
th{
  font-size:100%;
  text-align: center;
  background-color: #bdd7e2;
}
td{
  font-size:100%;

}
::ng-deep .my-dialog-class-css {
  mat-dialog-container {
      margin: auto;
   width: 80%;
 }
  @media only screen and (max-width: 760px) {
       mat-dialog-container{
          width: 100%;
         
      }
  }
 
}