

<h1 mat-dialog-title> Modifier UF</h1>

<div mat-dialog-content>
   <form [formGroup]="ufForm">
    <mat-form-field appearance="outline">
      <mat-label>Nom de l'unité fonctionnelle</mat-label>
      <input formControlName="name" matInput placeholder="Nom">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Filiere</mat-label>
      <mat-select formControlName="filiere" placeholder="filiere">
        <mat-option *ngFor="let filiere of filiers" [value]="filiere.id">
          {{ filiere.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
   </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="warn" (click)="onNoClick()">Fermer</button>
  <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="updateUf()">{{actionBtn}}</button>
</div>
